.footer {
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-items: center;
}

//<-------------Desktop------------->

@media (min-width: 1200px){
  .footer{
    flex-direction: row;
  }
}