.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;

  & .container {
    display: flex;
    justify-content: center;
  }
  & .contact__adress:first-child {
    margin-left: 40px;
   position: relative;
    top: 338px;
  }
  & .contact__adress:last-child {
    margin-left: 40px;
    position: relative;
    top: 266px;
  }
}
