.main {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/bgimgmob@1x.jpg);
  height: 400px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;

  &__title {
    max-width: 365px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 118px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}

//<-------------Mobile------------->

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/bgimgmob@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/bgimgmob@2x.jpg);
    }
  }
}

//<-------------tablet------------->

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/bgimgtab@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/bgimgtab@2x.jpg);
    }
  }
}

//<-------------desktop------------->

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/bgimgdesk@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/bgimgdesk@2x.jpg);
    }
  }
}
