.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  &__maps {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14285714;
    margin-top: 20px;
    text-align: center;
  }
  &__icon:hover,
  &__icon:focus,
  &__link:hover {
    fill: var(--hover-color);
  }
  &__icon {
    transition: var(--trans-fill);
  }
  &__maps--highlight {
  }
  &__maps--highlight:hover,
  &__maps--highlight:focus {
    color: #2196f3;
  }
  &__maps--highlight {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__maps--highlight:visited {
    color: #ffffff;
  }

  &__link:hover,
  &__link:focus {
    color: #2196f3;
  }
  &__link {
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  &__link--color {
    color: #2196f3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  &__link--footer {
    font-size: 14px;
    font-weight: 400;
    margin: 8px auto;
  }
  &__adress {
    display: flex;
  }
  &__adress:first-child {
    margin-left: 40px;
    margin-top: 302px;
    //  position: relative;
    //   top: 338px;
  }
  &__adress:last-child {
    margin-left: 40px;
    margin-top: 32px;
    // position: relative;
    // top: 266px;
  }
}

//<-------------tablet------------->

@media (min-width: 768px) {
  .contact {
    position: absolute;
    right: 15px;
    top: 15px;

    &__adress:first-child {
      margin: 0;
    }
    &__adress:last-child {
      margin: 0;
    }
    &__icon {
      margin-right: 8px;
    }
    &__link {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
  }
}

//<-------------Desktop------------->

@media (min-width: 1200px) {
  .contact {
    flex-direction: row;
    margin-bottom: 0;
    right: 15px;
    top: 26px;
    gap: 30px;
    margin-right: 14vw;

    &__maps {
      width: 246px;
      text-align: left;
    }
    &__link--footer {
      justify-content: left;
    }
  }
}
