.crew {
  background-color: #f5f4fa;
  width: 100vw;
  margin: 0 auto;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16666667;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 60px;
    letter-spacing: 0.03em;
  }
  &__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    background-color: #ffffff;
    margin-top: 30px;
    letter-spacing: 0.03em;
  }
  &__job {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
    background-color: #ffffff;
    letter-spacing: 0.03em;
  }
  &__card {
    max-width: 450px;
    max-height: 622px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__img {
    width: calc(100% - 30px);
    height: auto;
    margin: 0 auto;
  }
  &__item{
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}
