.features {
.icon-list {
    display: flex;
    padding: 0;
    padding-top: 94px;
    justify-content: center;
    margin-bottom: 30px;
    justify-content: space-evenly;
    flex-direction: row;

  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #757575;
    max-width: 270px;
    height: 120px;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
  }
  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14285714;
    text-transform: uppercase;
    max-width: 450px;
    height: 50px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }
  &__icon {
    width: 70px;
    height: 70px;
    position: absolute;
  }
  &__item{
    width: calc(50% - 30px);
  }
}
