.menu {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: 40px;

  &__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &__item:nth-child(1) {
    margin-top: 48px;
  }
  &__link {
    text-decoration: none;
    transition: var(--trans);
  }
  &__link:hover,
  &__link:focus {
    color: var(--hover);
  }
}
