.container {
  width: 100vw;
  margin: 0 auto 60px auto;
}
.container-menuport {
  width: 100vw;
  margin: 0 auto;
}
.containernav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #ECECEC;
}
@media (min-width:768px){
.containernav {
  height: 80px;
  
}
}
.containerflex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // gap: 70px;
  align-items: center;
  padding-bottom: 60px;
}
.container-contact {
  display: flex;
  flex-direction: column;
  width: 246px;
  height: 81px;
}
// .container-social {
//   display: flex;
//   flex-wrap: wrap;
//   width: 206px;
//   height: 80px;
//   padding-top: 12px;
// }
.container__features {
  width: calc(100vw - 30px);
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
