.container {
  width: 100vw;
  margin: 0 auto 60px auto;
}
.container-crew {
  width: 100vw;
  margin: 0 auto 60px auto;
}
.container-menuport {
  width: 100vw;
  margin: 0 auto;
}
.containernav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #ECECEC;
}
.containerflex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.container-contact {
  display: flex;
  flex-direction: column;
  
}
.container__features {
  width: calc(100% - 30px);
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.container-mob{
  width: 100vw;
  height: 100vh;
}
.container-tabcontact{
  text-align: center;
}
.container-port{
  width: 100vw;
  margin: 0 auto;
}

//<-------------tablet------------->
@media (min-width:768px){
.container{
  margin: 0 auto;

}
  .containernav {
  height: 80px;
}
.container__features{
  width: 100%;
  margin:0 auto;
}
.container-contact{
  flex-direction: row;

}
.container-tabcontact{
margin-right: 144px;
}
}

//<-------------Desktop------------->

@media (min-width: 1200px){
  .containernav {
    padding: 0;
  }
  .containerflex{
    flex-direction: row;
    max-width: 1170px;
    padding:0;
  }
  .container-contact{
    gap: 70px;
    align-items: center;
  }
  .container-tabcontact{
margin-right: 0;
max-width: 246px;
text-align: left;
}
}