.container {
  width: 100%;
  margin: 0 auto;
}
.containernav {
  display: flex;
 align-items: center;
  width: 100%;
  height: 60px;
  }
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768pxpx;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

// .container {
//   width: 100%;
//   max-width: 768px;
//   margin: 0 auto;
//   padding: 0 15px;
// }
// .containerflex {
//   width: 1200px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
// }
// .container-contact {
//   display: flex;
//   flex-direction: column;
//   width: 246px;
//   height: 81px;
// }
// .container-social {
//   display: flex;
//   flex-wrap: wrap;
//   width: 206px;
//   height: 80px;
//   padding-top: 12px;
// }
.container__features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
